h1 {
    color: red;
    background-color: aquamarine
}

h2 {
    color: aquamarine;
    Background-color: cornflowerblue
}

h3 {
    color: blueviolet;
    background-color: aquamarine
}

p {
    color: blanchedalmond;
    background-color: brown;
    font-family: Tahoma
}

#parrafo1 {
    color: black;
    background-color: chartreuse;
    font-family: 'Californian FB'
}
input{
    background-color:lightgreen
}
button{
    color:black;
    background-color:aquamarine
}